<mat-toolbar color="primary" class="footer">
    <div class="footer-content">
      <div class="footer-links">
        <a mat-button routerLink="/about" class="footer-link">About Us</a>
        <a mat-button routerLink="/services" class="footer-link">Services</a>
        <a mat-button routerLink="/contact" class="footer-link">Contact</a>
        <a mat-button href="https://github.com/" target="_blank" class="footer-link">GitHub</a>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2024 My Application. All Rights Reserved.</p>
      </div>
    </div>
  </mat-toolbar>
  