<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece Informations</title>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="#yonko" class="nav-link">Les Yonko</a></li>
            <li><a href="#marines" class="nav-link">Les Marines</a></li>
            <li><a href="#revolutionaries" class="nav-link">Les Révolutionnaires</a></li>
            <li><a href="#world-government" class="nav-link">Le Gouvernement Mondial</a></li>
            <li><a href="#pirate-crew" class="nav-link">Équipage des Pirates</a></li>
            <li><a href="#warlords" class="nav-link">Shichibukai</a></li>
            <li><a href="#roger" class="nav-link">Gol D. Roger</a></li>
        </ul>
    </nav>

    <!-- Sections -->
    <div class="content">
        <!-- Section Yonko -->
        <section id="yonko" class="section yonko-section">
            <h2>Les Yonko</h2>
            <p>Les Yonko, ou Empereurs des Mers, sont les quatre pirates les plus puissants et les plus influents du Nouveau Monde. Ils règnent sur d'immenses territoires et possèdent des flottes imposantes. Leur présence est une constante menace pour le Gouvernement Mondial. Ces capitaines légendaires sont connus pour leur force écrasante, leur charisme et leurs alliances stratégiques, qui les rendent presque invincibles.</p>
            <div class="image-gallery">
                <div class="image-item">
                    <img src="assets/images/shanks.jpg" alt="Shanks">
                    <p>Shanks, Le Roux</p>
                </div>
                <div class="image-item">
                    <img src="assets/bigmom.jpg" alt="Big Mom">
                    <p>Big Mom</p>
                </div>
                <div class="image-item">
                    <img src="assets/kaidoa.jpg" alt="Kaido">
                    <p>Kaido</p>
                </div>
                <div class="image-item">
                    <img src="assets/Blackbeard.jpg" alt="Black Beard">
                    <p>Blackbeard</p>
                </div>
            </div>
        </section>

        <!-- Section Marines -->
        <section id="marines" class="section marines-section">
            <h2>Les Marines</h2>
            <p>Les Marines forment la principale force militaire du Gouvernement Mondial, chargée de maintenir l'ordre et de combattre les pirates à travers le monde. Sous la direction de l'Amiral-en-Chef, les Marines se distinguent par leur hiérarchie stricte et leur engagement à faire respecter la justice, bien que leurs actions soient souvent influencées par la corruption et les intérêts politiques.</p>
            <div class="image-gallery">
                <div class="image-item">
                    <img src="assets/akaino.jpg" alt="Akainu">
                    <p>Akainu</p>
                </div>
                <div class="image-item">
                    <img src="assets/kizaru.jpg" alt="Kizaru">
                    <p>Kizaru</p>
                </div>
                <div class="image-item">
                    <img src="assets/aokji.jpg" alt="Aokiji">
                    <p>Aokiji</p>
                </div>
                <div class="image-item">
                    <img src="assets/garp.jpg" alt="Garp">
                    <p>Garp</p>
                </div>
                <div class="image-item">
                    <img src="assets/sengoku.jpg" alt="Sengoku">
                    <p>Sengoku</p>
                </div>
            </div>
        </section>

        <!-- Section Révolutionnaires -->
        <section id="revolutionaries" class="section revolutionaries-section">
            <h2>Les Révolutionnaires</h2>
            <p>Les Révolutionnaires sont une organisation clandestine opposée au Gouvernement Mondial. Menés par Monkey D. Dragon, leur objectif est de renverser les nobles corrompus et de libérer les peuples opprimés. Leur influence s'étend à travers le monde, et leurs membres sont prêts à sacrifier leur vie pour une cause noble et juste.</p>
            <div class="image-gallery">
                <div class="image-item">
                    <img src="assets/monkey.jpg" alt="Monkey D. Dragon">
                    <p>Monkey D. Dragon</p>
                </div>
                <div class="image-item">
                    <img src="assets/sabo.jpg" alt="Sabo">
                    <p>Sabo</p>
                </div>
              
            </div>
        </section>

        <!-- Section Gouvernement Mondial -->
        <section id="world-government" class="section world-government-section">
            <h2>Le Gouvernement Mondial</h2>
            <p>Le Gouvernement Mondial contrôle la majeure partie du globe grâce à un réseau complexe de Marines, de Cipher Pol et de nobles influents. Bien qu'il prétende œuvrer pour la paix et la stabilité, ses actions sont souvent entachées par la corruption, la tyrannie et la manipulation des masses. Le Conseil des Cinq Étoiles et l’énigmatique Im Sama tirent les ficelles en secret.</p>
            <div class="image-gallery">
                <div class="image-item">
                    <img src="assets/download (14).jpg" alt="Cipher Pol">
                    <p>Cipher Pol</p>
                </div>
                <div class="image-item">
                    <img src="assets/Tenryuubito.jpg" alt="Tenryuubito">
                    <p>Tenryuubito</p>
                </div>
                
                <div class="image-item">
                    <img src="assets/download (15).jpg" alt="Im Sama">
                    <p>Im Sama</p>
                </div>
                <div class="image-item">
                    <img src="assets/World Nobles.jpg" alt="World Nobles">
                    <p>World Nobles</p>
                </div>
            </div>
        </section>

        <!-- Section Pirate Crew -->
        <section id="pirate-crew" class="section pirate-crew-section">
            <h2>Équipage des Pirates</h2>
            <p>L’Équipage du Chapeau de Paille, dirigé par Monkey D. Luffy, est l'un des équipages les plus célèbres et prometteurs de Grand Line. Chaque membre possède un rêve personnel qui motive leur quête pour atteindre Laugh Tale et découvrir le légendaire trésor One Piece. Leur détermination et leur amitié indéfectible les distinguent des autres pirates.</p>
            <div class="image-gallery">
                <div class="image-item">
                    <img src="assets/luffya.jpg" alt="Luffy">
                    <p>Monkey D. Luffy</p>
                </div>
                <div class="image-item">
                    <img src="assets/zoro.jpg" alt="Zoro">
                    <p>Roronoa Zoro</p>
                </div>
                <div class="image-item">
                    <img src="assets/nami.jpg" alt="Nami">
                    <p>Nami</p>
                </div>z
                <div class="image-item">
                    <img src="assets/sanji.jpg" alt="Sanji">
                    <p>Vinsmoke Sanji</p>
                </div>
            </div>
        </section>

        <!-- Section Shichibukai -->
        <section id="warlords" class="section warlords-section">
            <h2>Les Shichibukai</h2>
            <p>Les Shichibukai sont des pirates redoutables qui ont accepté de travailler sous la bannière du Gouvernement Mondial en échange de privilèges. Bien qu'ils aient juré loyauté, ces sept capitaines restent avant tout des pirates et poursuivent souvent leurs propres objectifs, ce qui les rend imprévisibles et parfois dangereux même pour leurs alliés.</p>
            <div class="image-gallery">
                <div class="image-item">
                    <img src="assets/Dracule Mihawk.jpg" alt="Dracule Mihawk">
                    <p>Dracule Mihawk</p>
                </div>
                <div class="image-item">
                    <img src="assets/Boa Hancock.jpg" alt="Boa Hancock">
                    <p>Boa Hancock</p>
                </div>
                <div class="image-item">
                    <img src="assets/Jinbei.jpg" alt="Jinbei">
                    <p>Jinbei</p>
                </div>
            </div>
        </section>

        <!-- Section Gol D. Roger -->
        <section id="roger" class="section roger-section">
            <h2>Gol D. Roger</h2>
            <p>Gol D. Roger, également connu sous le nom de Roi des Pirates, est une légende vivante dans l'univers de One Piece. Il est le seul à avoir atteint Laugh Tale et découvert le One Piece. Son exécution publique a marqué le début de l'Âge d'Or de la Piraterie, inspirant des générations de pirates à poursuivre ses traces pour devenir les prochains Rois des Pirates.</p>
            <div class="image-gallery">
                <div class="image-item">
                    <img src="assets/Gol D. Roger.jpg" alt="Gol D. Roger">
                    <p>Gol D. Roger</p>
                </div>
            </div>
        </section>
    </div>
<app-footer></app-footer>
</body>
</html>
